/* страница 2*/
.container {
  width: 1440px;
  margin: 0 auto;
  background: #fff;
}
.featured-products {
  background: rgba(132, 94, 194, 1);
  display: flex;
  justify-content: space-around;
}

.featured-products-sticker {
  width: 900px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.featured-products-sticker_header {
  margin-top: 73px;
  margin-bottom: 70px;
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 600;
  line-height: 73.14px;
  text-align: left;
  color: transparent;
  -webkit-text-stroke: 1px white;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.featured-products-sticker_img {
  display: flex;
}

.featured-products-sticker_img-img {
  width: 222px;
  height: 393px;
  border-radius: 135px;
  margin: 17px;
}

.pos-rel-top {
  position: relative;
  bottom: 70px;
}

.featured-products-sticker_price {
  display: flex;
  margin-top: 20px;
  margin-bottom: 45px;
  gap: 20px;
}

.featured-products-sticker_price-header {
  font-size: 31px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.featured-products-sticker_price-value {
  font-size: 31px;
  font-weight: 600;
  line-height: 37.79px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.featured-products-descr {
  display: flex;
  flex-direction: column;

  margin-top: 146px;
  margin-left: 33px;
}

.featured-products-descr_text_h {
  width: 559.39px;
  height: 54px;

  font-size: 44px;
  font-weight: 600;
  line-height: 53.64px;
  text-align: left;

  color: rgba(255, 255, 255, 1);
}

.featured-products-descr_text_p {
  width: 500.35px;

  font-size: 21px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
  color: rgba(255, 255, 255, 1);

  margin-top: 10px;
  margin-bottom: 35px;
}

.featured-products-descr_button {
  display: flex;
  justify-content: center;
}

.featured-products-descr_button-add {
  width: 263.18px;
  height: 70px;

  border-radius: 10px;

  background: rgba(16, 185, 129, 1);
  box-shadow: 0px 25px 50px 0px rgba(255, 255, 255, 0.1);
  border-color: rgba(0, 0, 0, 0);

  font-size: 21px;
  font-weight: 600;
  line-height: 25.6px;
  text-align: center;

  color: rgba(255, 255, 255, 1);
}

.featured-products-descr_button-more {
  width: 200px;
  height: 70px;
  border-radius: 10px;

  background: transparent;
  /*box-shadow: 0px 25px 50px 0px rgba(255, 255, 255, 0.1); */
  border-color: rgba(0, 0, 0, 0);

  font-size: 21px;
  font-weight: 600;
  line-height: 25.6px;
  text-align: left;
  color: rgba(255, 255, 255, 1);

  padding-left: 10px;
  margin-left: 10px;
  margin-right: 30px;
}
