* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.container {
  width: 1440px;
  margin: 0 auto;
  /* background: #fff; */
  margin-bottom: 40px;
}
@import "./colors.css";
@import "./head.css";
@import "./featured_products.css";
@import "./sellers.css";
@import "./trending_earphones.css";
@import "./new_launches.css";
@import "./footer.css";
@import "./components/color_card.css";
@import "./components/button.css";
@import "./components/menu.css";
/* @import "./components/card_1.css"; */
/* @import "./components/card_2.css"; */
