
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  .container {
    width: 1440px;
    margin: 0 auto;
    /* background: #fff; */
  }

@import "./head.css";
@import "./featured_products.css";
@import "./sellers.css";
@import "./trending_earphones.css";
@import "./new_launches.css";
@import "./futter.css";
@import "./color_card.css";