.trending-earphones {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.trending-earphones__header {
  width: 465px;
  height: 54px;

  font-size: 44px;
  font-weight: 600;
  line-height: 53.64px;
  text-align: left;
  color: rgba(43, 38, 38, 1);

  margin-top: 70px;
  margin-bottom: 55px;
}

.trending-earphones__product-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 85px;
  margin-top: 50px;
}

.trending-earphones__product__card {
  display: flex;
  flex-direction: column;
}
.trending-earphones__product__card__pick {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 361px;
  height: 438px;
  border-radius: 25px;
}

.trending-earphones__product__card__pick__img {
  position: relative;
}
.trending-earphones__product__card__pick__img__product {
  width: 196px;
  height: 196px;
  margin-top: 30px;
}
.trending-earphones__product__card__pick__img__save {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: center;
  color: rgba(255, 255, 255, 1);

  width: 100px;
  height: 100px;
  padding-top: 25px;
  border-radius: 50px;

  position: absolute;
  top: 20px;
  left: 160px;
}
.trending-earphones__product__card__pick__descr {
  display: flex;
  flex-direction: column;

  width: 319px;
  height: 164px;

  border-radius: 25px;

  background: rgba(255, 255, 255, 1);
  padding: 31px 76px 30px 52px;
}
.trending-earphones__product__card__pick__descr__name {
  font-size: 21px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;

  color: rgba(43, 38, 38, 1);
}
.trending-earphones__product__card__pick__descr__reviews {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 5px;
}
.trending-earphones__product__card__pick__descr__reviews__svg {
  display: flex;
}
.trending-earphones__product__card__pick__descr__reviews__text {
  font-size: 11px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;

  color: rgba(136, 136, 136, 1);
}
.trending-earphones__product__card__pick__descr__price {
  font-size: 21px;
  font-weight: 600;
  line-height: 25.6px;
  text-align: left;

  color: rgba(43, 38, 38, 1);
}
.trending-earphones__product__card__button {
  width: 361px;
  height: 70px;
  border-radius: 10px;
  background: var( --primary-color);

  font-size: 21px;
  font-weight: 600;
  line-height: 25.6px;
  text-align: center;
  color: rgba(255, 255, 255, 1);

  margin-top: 29px;
  border-color: rgba(0, 0, 0, 0);
}
.trending-earphones__product__next {
  padding-top: 180px;
}
