$primary-color: rgb(56, 209, 143);
$second-color: rgb(161, 127, 215);
$mint-color: rgb(221, 251, 235);
$blue-color: rgb(77, 120, 229);
$purpure-color: rgb(176, 103, 225);
$green-color: rgb(89, 217, 108);
$blue-2-color: rgb(79, 139, 191);
$blue-3-color: rgb(31, 37, 218);


