@use "./colors" as *;

.new-launches {
  background: rgba(132, 94, 194, 1);
  display: flex;
  justify-content: space-around;

  &__back {
  padding-top: 300px;
  padding-left: 70px;
  }
  &__next {
    padding-top: 300px;
    padding-right: 70px;
  }
  &__sticker {
    width: 521.36px;
    height: 468px;
    margin-top: 112px;
    margin-bottom: 61px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    &__img {
      width: 237.79px;
      height: 417px;
      border-radius: 135px;
      margin: 17px;
    }
  }
  &__descr {
    display: flex;
    flex-direction: column;
  
    margin-top: 73px;
    margin-left: 85px;
    &__text__h {
      width: 559.39px;
      height: 54px;
    
      font-size: 60px;
      font-weight: 600;
      line-height: 73.64px;
      text-align: left;
    
      color: rgba(255, 255, 255, 1);
    }
    &__text__p {
      width: 570px;
    
      font-size: 21px;
      font-weight: 500;
      line-height: 35px;
      text-align: left;
      color: rgba(255, 255, 255, 1);
    
      margin-top: 29px;
      margin-bottom: 24px;
    }
    &__price {
      display: flex;
      margin-bottom: 50px;
      gap: 20px;
      &__header {
        font-size: 31px;
        font-weight: 400;
        line-height: 35px;
        text-align: left;
        color: rgba(255, 255, 255, 1);
      }
      &__value {
        font-size: 31px;
        font-weight: 600;
        line-height: 37.79px;
        text-align: left;
        color: rgba(255, 255, 255, 1);
      }
    }
    &__option-color__y {
      margin-left: 31px;
      margin-right: 35px;
    }


  }
}

