$primary-color: rgb(38, 52, 139);
$second-color: rgba(132, 94, 194, 1);
$mint-color: rgba(236, 254, 244, 1);
$blue-color: rgba(132, 94, 194, 1);
$purpure-color: rgba(132, 94, 194, 1);
$green-color: rgba(132, 94, 194, 1);
$blue-2-color: rgba(132, 94, 194, 1);
$blue-3-color: rgba(132, 94, 194, 1);